.swiper {
    width: 100%;
    height: 100%;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.swiper-container .swiper-zoom-container>img {
    /*width: 100%;*/
    height: auto;
    object-fit: cover;
    object-position: center;
}

.swiper-button-next { color: white; }
.swiper-button-prev { color: white; }

:root {
    --swiper-theme-color: #2f8a2f;
}

/*.swiper-slide-prev, .swiper-slide-next {*/
/*    animation-name:lowerBrightness;*/
/*    animation-duration:0.25s;*/
/*    animation-iteration-count: 1;*/
/*    animation-fill-mode: forwards;*/
/*}*/

/*.swiper-slide-active {*/
/*    animation-name:higherBrightness;*/
/*    animation-duration:0.25s;*/
/*    animation-iteration-count: 1;*/
/*    animation-fill-mode: forwards;*/
/*}*/

/*@keyframes higherBrightness  {*/

/*    from {*/
/*        filter: brightness(75%)*/
/*    }*/

/*    to {*/
/*        filter: brightness(100%)*/
/*    }*/
/*}*/

/*@keyframes lowerBrightness  {*/
/*    from {*/
/*        filter: brightness(100%)*/
/*    }*/

/*    to {*/
/*        filter: brightness(75%)*/
/*    }*/

/*}*/
